.form-container {
    width: 350px; 
    margin: 50px auto; 
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    color: #3a0ca3;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.form-container input[type="email"],
.form-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #3a0ca3;
    border-radius: 5px;
    outline: none;
}

.form-container button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: #6a0dad;
    cursor: pointer;
    font-weight: bold;
}


.signup-link {
    display: block;
    margin-top: 10px;
    color: #3a0ca3;
    text-align: center;
    text-decoration: none;
}

.signup-link:hover {
    text-decoration: underline;
}
