{% load static %}
<!doctype html>
<html lang="pt-BR">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'general/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'general/css/general.css' %}">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    {% block 'head' %}{% endblock %}

    <title>{% block 'title' %}{% endblock %}</title>
  </head>
  <body>

    <nav class="navbar">
      <a href="navbar.html" class="home-link">Home</a>
      <div class="navbar-right">
          <a href="#" class="login-link">Login</a>
          <a href="#">Cadastro</a>
      </div>
    </nav>
      
      <section class="home-section">
          {% block 'dashboard'%}
          {% endblock %}

      </section>

    {% block 'body' %}
    {% endblock %}
    <script src="{% static 'general/js/base.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>