/* Centralizando e redimensionando o contêiner do formulário */
.form-container {
    width: 350px; /* Definindo uma largura fixa menor */
    margin: 50px auto; /* Centralizando na tela */
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo do título */
.form-container h2 {
    color: #3a0ca3;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

/* Estilos dos inputs e dropdown */
.form-container input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #3a0ca3;
    border-radius: 5px;
    outline: none;
}

/* Botão de registro */
.form-container button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: #6a0dad;
    cursor: pointer;
    font-weight: bold;
}
