{% extends "baseLogado.html" %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'emprestimo/css/criar_emprestimo.css' %}">
{% endblock %}

{% block 'dashboard'%}
<div class="form-container">
    <h2>Realizar Empréstimo</h2>
    <form id="registerForm" action="{% url 'cadastro_emprestimo' %}" method="POST">
        {% csrf_token %}
        
        <!-- Campo oculto para enviar o usuario_id do usuário logado -->
        <input type="hidden" name="usuario" value="{{ usuario_id }}">

        <select required name="livro">
            <option value="" disabled selected>Selecione o livro</option>
            {% for livro in livros %}
            <option value="{{ livro.id }}">{{ livro.titulo }}</option>
            {% endfor %}
        </select>

        <label for="data_empresitmo">
            Data de Empréstimo
            <input type="date" placeholder="Data de Empréstimo" required name="data_empresitmo">
        </label>
        
        <label for="data_devolucao">
            Data de Devolução Máxima
            <input type="date" placeholder="Data de Devolução" required name="data_devolucao">
        </label>

        <label for="data_devolvido">
            Data de Devolução
            <input type="date" placeholder="Data de Devolução" required name="data_devolvido">
        </label>

        <button type="submit" class="register-btn">Confirmar</button>
    </form>
</div>
<script src="{% static 'emprestimo/js/criar_emprestimo.js' %}"></script>
{% endblock %}
