{% extends "baseLogado.html" %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'usuarios/css/perfil_usuario.css' %}">
{% endblock %}

{% block 'dashboard' %}
<div class="perfil-container">
    <h2>Meu Perfil</h2>
    <p><strong>Nome:</strong> {{ usuario.nome }}</p>
    <p><strong>Email:</strong> {{ usuario.email }}</p>
    <!-- Adicione outros dados do usuário conforme necessário -->

    <h3>Empréstimos</h3>
    {% if emprestimos %}
        <ul>
            {% for emprestimo in emprestimos %}
                <li>
                    <p><strong>Livro:</strong> {{ emprestimo.livro.titulo }}</p>
                    <p><strong>Data de Empréstimo:</strong> {{ emprestimo.data_emprestimo }}</p>
                    <p><strong>Data de Devolução:</strong> {{ emprestimo.data_devolucao }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Você não possui empréstimos.</p>
    {% endif %}
</div>
{% endblock %}
